{% extends 'layout.html' %} {% block content %}
<section>
    <h5>{{msg}}</h5>

    <section class="container">
        <div class="row">
            {% for row in rows %}
            <div class="card col-md-3">
                <img src="static/img/{{row[7]}}" alt="" width="200" height="250">
                <h5 class="card-heading">{{row[1]}}</h5>
                <p class="text-muted">{{row[2] | safe}}</p>
                <b>KES {{row[4]}}</b> <br>
                <i>Category: {{row[5]}}</i>
                <br>
                <a href="/purchase/{{row[0]}}" class="btn btn-outline-dark">Purchase</a>

            </div>
            {% endfor %}

        </div>
        <br><br>
    </section>
    {% endblock %}